OneData Assessment

Task 1: Upload Data to MinIO

In [ ]:
import boto3
from botocore.client import Config
from botocore.exceptions import ClientError


s3 = boto3.client(
    's3',
    endpoint_url='http://127.0.0.1:9000',
    aws_access_key_id='minioadmin',
    aws_secret_access_key='minioadmin',
    config=Config(signature_version='s3v4'),
    region_name='us-east-1'
)

bucket_name = "my-bucket"


try:
    s3.head_bucket(Bucket=bucket_name)
    print("✅ Bucket already exists")
except ClientError:
    s3.create_bucket(Bucket=bucket_name)
    print("✅ Bucket created")


files = [
    r"E:\Assessment_Data\care_reception.csv",
    r"E:\Assessment_Data\event.csv",
    r"E:\Assessment_Data\participation.csv",
    r"E:\Assessment_Data\patients.csv"
]


for file_path in files:
    file_name = file_path.split("\\")[-1]  
    object_name = f"raw/assessment/{file_name}"
    s3.upload_file(file_path, bucket_name, object_name)
    print(f"✅ Uploaded {file_name} to {object_name}")

Task 2: Analyze and Map All Data into One Table

In [5]:
import pandas as pd

In [6]:

patients = pd.read_csv("E:/Assessment_Data/patients.csv")
care_reception = pd.read_csv("E:/Assessment_Data/care_reception.csv")
event = pd.read_csv("E:/Assessment_Data/event.csv")
participation = pd.read_csv("E:/Assessment_Data/participation.csv")

In [7]:
print(patients.head(10))

   Unnamed: 0   id first_name  last_name  gender  organization_id  \
0           0  145        Raj      kumar    MALE                1
1           1  146      Barry   Martinez    MALE                1
2           2  147     Janice  Castaneda    MALE                1
3           3  148    Rebecca       Tran  FEMALE                1
4           4  149     Jeremy       Ward    MALE                1
5           5  150     Justin     Foster     NaN                1
6           6  151     Dinesh      kumar    MALE                1
7           7  152     Steven     Guerra     NaN                1
8           8  153   Kimberly      Smith  FEMALE                1
9           9  154    Valerie     Larson  FEMALE                1

                         created_at  created_by  status_id  language_id  \
0  2024-10-21 11:13:19.200878+00:00         139          2            1
1  2024-10-21 11:44:27.982926+00:00         139          2            1
2  2024-10-21 11:47:43.460770+00:00         139          2            1
3  2024-10-21 11:53:13.773876+00:00         139          2            1
4  2024-10-21 11:55:30.445362+00:00         139          2            1
5  2024-10-21 11:59:04.315879+00:00         139          2            1
6  2024-10-21 12:01:29.496123+00:00         139          2            1
7  2024-10-21 12:05:12.792229+00:00         139          2            1
8  2024-10-21 12:06:30.912623+00:00         139          2            1
9  2024-10-21 12:10:01.321341+00:00         139          2            1

  date_of_birth email external_id organ_donner blood_donner email.1  \
0    1987-02-02   NaN         NaN        False        False     NaN
1    1990-01-10   NaN         NaN        False        False     NaN
2    1998-07-16   NaN         NaN        False        False     NaN
3    2000-02-23   NaN         NaN        False        False     NaN
4    1990-01-02   NaN         NaN         True         True     NaN
5    1999-07-18   NaN         NaN        False        False     NaN
6    1980-01-03   NaN         NaN         True         True     NaN
7    1975-10-11   NaN         NaN        False        False     NaN
8    2000-07-07   NaN         NaN        False         True     NaN
9    1995-08-15   NaN         NaN        False        False     NaN

            phone  marital_status  updated_by  \
0   91 9894336789             1.0         NaN
1   91 9876543210             1.0         NaN
2  +91 9876566815             0.0       139.0
3   91 9123456780             0.0         NaN
4   91 7108355642             1.0         NaN
5   91 8053694105             0.0         NaN
6   91 7108355649             1.0         NaN
7   91 9876566915             0.0         NaN
8   91 8843231114             1.0         NaN
9   91 9998887772             1.0         NaN

                         updated_at
0                               NaN
1                               NaN
2  2024-10-21 12:07:35.551796+00:00
3                               NaN
4                               NaN
5                               NaN
6                               NaN
7                               NaN
8                               NaN
9                               NaN

In [8]:
patients['Full_Name'] = patients['first_name'] + ' ' + patients['last_name']

In [9]:
patients = patients[[
    'id', 'first_name', 'last_name', 'gender', 'date_of_birth', 
    'email', 'phone', 'marital_status', 'Full_Name'
]]

In [ ]:
patients=patients.duplicated()

In [10]:
print(patients)

        id first_name   last_name  gender date_of_birth  \
0      145        Raj       kumar    MALE    1987-02-02
1      146      Barry    Martinez    MALE    1990-01-10
2      147     Janice   Castaneda    MALE    1998-07-16
3      148    Rebecca        Tran  FEMALE    2000-02-23
4      149     Jeremy        Ward    MALE    1990-01-02
...    ...        ...         ...     ...           ...
3550  2554        vbn         vnb     NaN           NaN
3551  2559      Selva          ss     NaN           NaN
3552  2564      Sudha          MA  FEMALE    1996-12-22
3553  2566      Nuzha  MeeraLebbe     NaN    1999-11-20
3554  2567      Anaas     Mohamed    MALE    1998-11-20

                       email           phone  marital_status         Full_Name
0                        NaN   91 9894336789             1.0         Raj kumar
1                        NaN   91 9876543210             1.0    Barry Martinez
2                        NaN  +91 9876566815             0.0  Janice Castaneda
3                        NaN   91 9123456780             0.0      Rebecca Tran
4                        NaN   91 7108355642             1.0       Jeremy Ward
...                      ...             ...             ...               ...
3550     nuzha0518@gmail.com   94 0763845000             NaN           vbn vnb
3551                     NaN   91 6876567890             0.0          Selva ss
3552   sudhama0518@gmail.com   94 0715324625             1.0          Sudha MA
3553       nuzha12@gmail.com   94 0763845455             0.0  Nuzha MeeraLebbe
3554  nuzhalebbe99@gmail.com   94 0775403881             1.0     Anaas Mohamed

[3555 rows x 9 columns]

In [11]:
patients['email'] = patients['email'].fillna('Unknown')
patients['phone'] = patients['phone'].fillna('Unknown')
patients['gender'] = patients['gender'].fillna('Unknown')

In [12]:
print(patients)

        id first_name   last_name   gender date_of_birth  \
0      145        Raj       kumar     MALE    1987-02-02
1      146      Barry    Martinez     MALE    1990-01-10
2      147     Janice   Castaneda     MALE    1998-07-16
3      148    Rebecca        Tran   FEMALE    2000-02-23
4      149     Jeremy        Ward     MALE    1990-01-02
...    ...        ...         ...      ...           ...
3550  2554        vbn         vnb  Unknown           NaN
3551  2559      Selva          ss  Unknown           NaN
3552  2564      Sudha          MA   FEMALE    1996-12-22
3553  2566      Nuzha  MeeraLebbe  Unknown    1999-11-20
3554  2567      Anaas     Mohamed     MALE    1998-11-20

                       email           phone  marital_status         Full_Name
0                    Unknown   91 9894336789             1.0         Raj kumar
1                    Unknown   91 9876543210             1.0    Barry Martinez
2                    Unknown  +91 9876566815             0.0  Janice Castaneda
3                    Unknown   91 9123456780             0.0      Rebecca Tran
4                    Unknown   91 7108355642             1.0       Jeremy Ward
...                      ...             ...             ...               ...
3550     nuzha0518@gmail.com   94 0763845000             NaN           vbn vnb
3551                 Unknown   91 6876567890             0.0          Selva ss
3552   sudhama0518@gmail.com   94 0715324625             1.0          Sudha MA
3553       nuzha12@gmail.com   94 0763845455             0.0  Nuzha MeeraLebbe
3554  nuzhalebbe99@gmail.com   94 0775403881             1.0     Anaas Mohamed

[3555 rows x 9 columns]

In [13]:
print(care_reception.head(10))

   participation_id  patient_id  unregistered_user_id  address_id message  \
0               578        38.0                   NaN         NaN     NaN
1                72        37.0                   NaN         NaN     NaN
2               509        56.0                   NaN         NaN     NaN
3                73        37.0                   NaN         NaN     NaN
4                74        37.0                   NaN         NaN     NaN
5                75        38.0                   NaN         NaN     NaN
6               512        41.0                   NaN         NaN     NaN
7                76        38.0                   NaN         NaN     NaN
8                95        38.0                   NaN         NaN     NaN
9               100        42.0                   NaN         NaN     NaN

   status  meeting_status patient_attendant_name  \
0       1           False                    NaN
1       3           False                    NaN
2       1           False                    NaN
3       3           False                    NaN
4       3           False                    NaN
5       1           False                    NaN
6       1           False                    NaN
7       3           False                    NaN
8       3           False                    NaN
9       1           False                    NaN

  patient_attendant_phone_number cancellation_reason
0                            NaN                 NaN
1                            NaN                 NaN
2                            NaN                 NaN
3                            NaN                 NaN
4                            NaN                 NaN
5                            NaN                 NaN
6                            NaN                 NaN
7                            NaN                 NaN
8                            NaN                 NaN
9                            NaN                 NaN

In [14]:
care_reception = care_reception[['participation_id', 
    'patient_id', 
    'unregistered_user_id', 
    'status', 
    'meeting_status']]

In [15]:
print(care_reception.head(10))

   participation_id  patient_id  unregistered_user_id  status  meeting_status
0               578        38.0                   NaN       1           False
1                72        37.0                   NaN       3           False
2               509        56.0                   NaN       1           False
3                73        37.0                   NaN       3           False
4                74        37.0                   NaN       3           False
5                75        38.0                   NaN       1           False
6               512        41.0                   NaN       1           False
7                76        38.0                   NaN       3           False
8                95        38.0                   NaN       3           False
9               100        42.0                   NaN       1           False

In [16]:
print(participation.head(10))

     id  event_id  created_by                        created_at  updated_by  \
0  2688      2154         139  2024-10-22 12:24:03.052994+00:00         NaN
1  1609      1257          33  2024-10-21 04:28:27.377719+00:00         NaN
2  1552      1200          33  2024-10-21 04:27:40.261247+00:00         NaN
3  1553      1201          33  2024-10-21 04:27:40.400597+00:00         NaN
4  1554      1202          33  2024-10-21 04:27:40.433044+00:00         NaN
5  1555      1203          33  2024-10-21 04:27:40.481896+00:00         NaN
6  1556      1204          33  2024-10-21 04:27:40.545213+00:00         NaN
7  1557      1205          33  2024-10-21 04:27:40.680962+00:00         NaN
8  1558      1206          33  2024-10-21 04:27:40.721584+00:00         NaN
9  1559      1207          33  2024-10-21 04:27:40.772617+00:00         NaN

  updated_at
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN

In [17]:
participation = participation[[  'id', 'event_id', 'created_by', 'created_at'
]]

In [18]:
print(participation.head(10))

     id  event_id  created_by                        created_at
0  2688      2154         139  2024-10-22 12:24:03.052994+00:00
1  1609      1257          33  2024-10-21 04:28:27.377719+00:00
2  1552      1200          33  2024-10-21 04:27:40.261247+00:00
3  1553      1201          33  2024-10-21 04:27:40.400597+00:00
4  1554      1202          33  2024-10-21 04:27:40.433044+00:00
5  1555      1203          33  2024-10-21 04:27:40.481896+00:00
6  1556      1204          33  2024-10-21 04:27:40.545213+00:00
7  1557      1205          33  2024-10-21 04:27:40.680962+00:00
8  1558      1206          33  2024-10-21 04:27:40.721584+00:00
9  1559      1207          33  2024-10-21 04:27:40.772617+00:00

In [19]:
print(event.head(10))

     id                    title                             start  \
0  1286                  WALKINS  2024-10-21 05:53:32.449000+00:00
1  1269                     Test         2024-10-21 05:00:00+00:00
2  1287                  WALKINS  2024-10-21 06:02:20.519000+00:00
3  1307  Video call consultation         2024-10-21 09:00:00+00:00
4  1308  Video call consultation         2024-10-21 09:10:00+00:00
5  1309  Video call consultation         2024-10-21 09:20:00+00:00
6  1310  Video call consultation         2024-10-21 09:30:00+00:00
7  1311  Video call consultation         2024-10-21 09:40:00+00:00
8  1312  Video call consultation         2024-10-21 09:50:00+00:00
9  1318                     Test         2024-10-21 08:00:00+00:00

                                end                      until  \
0  2024-10-21 06:22:32.449000+00:00                        NaN
1         2024-10-21 05:15:00+00:00                        NaN
2  2024-10-21 06:32:20.519000+00:00                        NaN
3         2024-10-21 09:10:00+00:00  2024-11-29 09:00:00+00:00
4         2024-10-21 09:20:00+00:00  2024-11-29 09:10:00+00:00
5         2024-10-21 09:30:00+00:00  2024-11-29 09:20:00+00:00
6         2024-10-21 09:40:00+00:00  2024-11-29 09:30:00+00:00
7         2024-10-21 09:50:00+00:00  2024-11-29 09:40:00+00:00
8         2024-10-21 10:00:00+00:00  2024-11-29 09:50:00+00:00
9         2024-10-21 08:15:00+00:00                        NaN

                                     recurrence  recurrence_event_id  type  \
0                                           NaN                    0     7
1                                           NaN                 1229     3
2                                           NaN                    0     7
3  FREQ=DAILY;UNTIL=20241130T043000Z;INTERVAL=1                    0     2
4  FREQ=DAILY;UNTIL=20241130T043000Z;INTERVAL=1                    0     2
5  FREQ=DAILY;UNTIL=20241130T043000Z;INTERVAL=1                    0     2
6  FREQ=DAILY;UNTIL=20241130T043000Z;INTERVAL=1                    0     2
7  FREQ=DAILY;UNTIL=20241130T043000Z;INTERVAL=1                    0     2
8  FREQ=DAILY;UNTIL=20241130T043000Z;INTERVAL=1                    0     2
9                                           NaN                 1241     3

   status  maximum_attendee_capacity  ...  tenant_id  \
0       1                          1  ...          6
1       2                          1  ...          6
2       1                          1  ...          4
3       1                          1  ...          4
4       1                          1  ...          4
5       1                          1  ...          4
6       1                          1  ...          4
7       1                          1  ...          4
8       1                          1  ...          4
9       1                          1  ...          6

                  occurrence  meeting_response facility_id updated_by  \
0                        NaN               NaN           0         33
1  2024-10-21 05:00:00+00:00               NaN           6         33
2                        NaN               NaN           0         30
3                        NaN               NaN           0          0
4                        NaN               NaN           0          0
5                        NaN               NaN           0          0
6                        NaN               NaN           0          0
7                        NaN               NaN           0          0
8                        NaN               NaN           0          0
9  2024-10-21 08:00:00+00:00               NaN           6         33

                         updated_at  visit_type encounter_type  is_reserved  \
0  2024-10-21 05:52:33.567083+00:00           2              1        False
1  2024-10-21 04:43:18.955169+00:00           2              1          NaN
2  2024-10-21 06:01:25.041329+00:00           2              1        False
3                               NaN           2              6          NaN
4                               NaN           2              6          NaN
5                               NaN           2              6          NaN
6                               NaN           2              6          NaN
7                               NaN           2              6          NaN
8                               NaN           2              6          NaN
9  2024-10-21 07:45:13.535687+00:00           2              1          NaN

   description
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN

[10 rows x 22 columns]

In [20]:

event.columns = event.columns.str.strip()

In [21]:
event = event[['id', 'title', 'start', 'end', 'until']]

In [22]:
event['until']= event['until'].fillna('unknown')

In [23]:
event['start'] = pd.to_datetime(event['start'], utc=True, errors='coerce')
event['end'] = pd.to_datetime(event['end'], utc=True, errors='coerce')
event['until'] = pd.to_datetime(event['until'], utc=True, errors='coerce')

C:\Users\Saravanan\AppData\Local\Temp\ipykernel_20452\3435083340.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  event['until'] = pd.to_datetime(event['until'], utc=True, errors='coerce')

In [24]:
print(event.head(10))

     id                    title                            start  \
0  1286                  WALKINS 2024-10-21 05:53:32.449000+00:00
1  1269                     Test                              NaT
2  1287                  WALKINS 2024-10-21 06:02:20.519000+00:00
3  1307  Video call consultation                              NaT
4  1308  Video call consultation                              NaT
5  1309  Video call consultation                              NaT
6  1310  Video call consultation                              NaT
7  1311  Video call consultation                              NaT
8  1312  Video call consultation                              NaT
9  1318                     Test                              NaT

                               end                     until
0 2024-10-21 06:22:32.449000+00:00                       NaT
1                              NaT                       NaT
2 2024-10-21 06:32:20.519000+00:00                       NaT
3                              NaT 2024-11-29 09:00:00+00:00
4                              NaT 2024-11-29 09:10:00+00:00
5                              NaT 2024-11-29 09:20:00+00:00
6                              NaT 2024-11-29 09:30:00+00:00
7                              NaT 2024-11-29 09:40:00+00:00
8                              NaT 2024-11-29 09:50:00+00:00
9                              NaT                       NaT

In [25]:
care_reception.columns = care_reception.columns.str.strip()
patients.columns = patients.columns.str.strip()
participation.columns = participation.columns.str.strip()
event.columns = event.columns.str.strip()

In [26]:
print("Care Reception columns after strip:", care_reception.columns)

Care Reception columns after strip: Index(['participation_id', 'patient_id', 'unregistered_user_id', 'status',
       'meeting_status'],
      dtype='object')

Merging tables

In [27]:
unified_df = patients.copy()

In [28]:
unified_df = patients.merge(
    care_reception[['patient_id', 'participation_id', 'status', 'meeting_status']],
    left_on='id',  
    right_on='patient_id',
    how='left'
)

In [29]:
unified_df = unified_df.merge(participation[['id', 'event_id']], 
                              left_on='participation_id', 
                              right_on='id', 
                              how='left')

In [30]:
unified_df = unified_df.merge(
    participation[['id', 'event_id']],
    left_on='participation_id',
    right_on='id',
    how='left',
    suffixes=('', '_participation')
)

In [31]:
print(unified_df)

       id_x first_name   last_name   gender date_of_birth  \
0       145        Raj       kumar     MALE    1987-02-02
1       145        Raj       kumar     MALE    1987-02-02
2       145        Raj       kumar     MALE    1987-02-02
3       145        Raj       kumar     MALE    1987-02-02
4       145        Raj       kumar     MALE    1987-02-02
...     ...        ...         ...      ...           ...
13772  2564      Sudha          MA   FEMALE    1996-12-22
13773  2566      Nuzha  MeeraLebbe  Unknown    1999-11-20
13774  2567      Anaas     Mohamed     MALE    1998-11-20
13775  2567      Anaas     Mohamed     MALE    1998-11-20
13776  2567      Anaas     Mohamed     MALE    1998-11-20

                        email          phone  marital_status  \
0                     Unknown  91 9894336789             1.0
1                     Unknown  91 9894336789             1.0
2                     Unknown  91 9894336789             1.0
3                     Unknown  91 9894336789             1.0
4                     Unknown  91 9894336789             1.0
...                       ...            ...             ...
13772   sudhama0518@gmail.com  94 0715324625             1.0
13773       nuzha12@gmail.com  94 0763845455             0.0
13774  nuzhalebbe99@gmail.com  94 0775403881             1.0
13775  nuzhalebbe99@gmail.com  94 0775403881             1.0
13776  nuzhalebbe99@gmail.com  94 0775403881             1.0

              Full_Name  patient_id  participation_id  status meeting_status  \
0             Raj kumar       145.0            4044.0     1.0          False
1             Raj kumar       145.0            6906.0     1.0          False
2             Raj kumar       145.0            7018.0     1.0          False
3             Raj kumar       145.0            7986.0     1.0          False
4             Raj kumar       145.0           12027.0     1.0          False
...                 ...         ...               ...     ...            ...
13772          Sudha MA      2564.0           29505.0     1.0          False
13773  Nuzha MeeraLebbe      2566.0           29479.0     1.0          False
13774     Anaas Mohamed      2567.0           29473.0     1.0          False
13775     Anaas Mohamed      2567.0           29474.0     1.0          False
13776     Anaas Mohamed      2567.0           45426.0     1.0          False

          id_y  event_id       id  event_id_participation
0          NaN       NaN      NaN                     NaN
1       6906.0    5426.0   6906.0                  5426.0
2       7018.0    5542.0   7018.0                  5542.0
3       7986.0    6526.0   7986.0                  6526.0
4      12027.0   10423.0  12027.0                 10423.0
...        ...       ...      ...                     ...
13772  29505.0   22689.0  29505.0                 22689.0
13773  29479.0   22640.0  29479.0                 22640.0
13774  29473.0   22641.0  29473.0                 22641.0
13775  29474.0   22650.0  29474.0                 22650.0
13776  45426.0   21009.0  45426.0                 21009.0

[13777 rows x 17 columns]

In [32]:
print(unified_df.columns.tolist())

['id_x', 'first_name', 'last_name', 'gender', 'date_of_birth', 'email', 'phone', 'marital_status', 'Full_Name', 'patient_id', 'participation_id', 'status', 'meeting_status', 'id_y', 'event_id', 'id', 'event_id_participation']

In [33]:
columns_order = ['patient_id', 'Full_Name', 'date_of_birth', 'gender', 'phone', 
                 'status', 'meeting_status', 'participation_id', 'event_id']

unified_df = unified_df[columns_order]

In [34]:
print(unified_df.head())
print("Total rows:", unified_df.shape[0])

   patient_id  Full_Name date_of_birth gender          phone  status  \
0       145.0  Raj kumar    1987-02-02   MALE  91 9894336789     1.0
1       145.0  Raj kumar    1987-02-02   MALE  91 9894336789     1.0
2       145.0  Raj kumar    1987-02-02   MALE  91 9894336789     1.0
3       145.0  Raj kumar    1987-02-02   MALE  91 9894336789     1.0
4       145.0  Raj kumar    1987-02-02   MALE  91 9894336789     1.0

  meeting_status  participation_id  event_id
0          False            4044.0       NaN
1          False            6906.0    5426.0
2          False            7018.0    5542.0
3          False            7986.0    6526.0
4          False           12027.0   10423.0
Total rows: 13777

In [38]:
unified_df= unified_df.duplicated()
unified_df= unified_df.drop_duplicates()
print("Duplicates removed. Total rows now:", unified_df.shape[0])

Duplicates removed. Total rows now: 2

In [39]:
unified_df.to_csv("E:/Assessment_Data/unified_table.csv", index=False)
print("✅ Unified table saved successfully!")

✅ Unified table saved successfully!

In [40]:
bucket_name = "my-bucket"  
file_path = "E:/Assessment_Data/unified_table.csv"
object_name = "raw/new/unified_table.csv"

In [41]:
try:
    s3.upload_file(file_path, bucket_name, object_name)
    print("✅ File uploaded successfully to MinIO!")
except Exception as e:
    print("❌ Upload failed:", e)

✅ File uploaded successfully to MinIO!